<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1083755495822-lujp2g9nd5cg9t9c938gslc4c4lmv1ab.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1083755495822-lujp2g9nd5cg9t9c938gslc4c4lmv1ab</string>
	<key>API_KEY</key>
	<string>AIzaSyDTa7ZSYXz0D5CXHPQL7xKQ8VGXtKxsJzw</string>
	<key>GCM_SENDER_ID</key>
	<string>1083755495822</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.scopin</string>
	<key>PROJECT_ID</key>
	<string>pinapp-222219</string>
	<key>STORAGE_BUCKET</key>
	<string>pinapp-222219.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1083755495822:ios:3993b0ffbbd7a65ef0a4df</string>
	<key>DATABASE_URL</key>
	<string>https://pinapp-222219.firebaseio.com</string>
</dict>
</plist>